openapi: 3.0.0
info:
  title: Vulnerable API
  version: 1.0.0
  description: A mock API with intentional security flaws for Checkov testing.

# CKV_OPENAPI_2: Ensure that security definitions are present
# CKV_OPENAPI_4: Ensure that API operates over HTTPS (here HTTP is used)
servers:
  - url: "http://api.vulnerable.com/v1"
    description: Insecure HTTP server

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer

paths:
  /users:
    get:
      summary: Get list of users
      description: Returns all users. Missing security enforcement.
      # CKV_OPENAPI_1: Missing security requirement
      responses:
        "200":
          description: A JSON array of user names
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        # CKV_OPENAPI_3: Ensure that error responses don't expose stack traces (simulated by returning 500 without generic details)
        "500":
          description: Internal Server Error (might expose stack trace)
          content:
            application/json:
              schema:
                type: string
                example: "Stack trace: at line 1..."

  /users/add:
    post:
      summary: Add a user
      description: POST endpoint that REQUIRES AUTH in OpenAPI but is unsecured in code!
      security:
        - BearerAuth: []
      responses:
        "201":
          description: User created

  /users/{id}:
    get:
      summary: Get user by ID
      description: Unsecured GET endpoint with path variable
      # CKV_OPENAPI_1: Missing security requirement
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
      responses:
        "200":
          description: User found
